* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  font-size: 1.6rem;
}

.navbar {
  font-size: 18rem;
}

.brand-logo {
  min-width: 100px;
  max-width: 180px;
}

h1 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 80px;
}

p {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 0;
}

.topmargin-xs {
  margin-top: 15px;
}

.topmargin-sm {
  margin-top: 30px;
}

.topmargin-lg {
  margin-top: 60px;
}

.btn {
  font-size: 14px;
  padding: 15px 26px;
  min-width: 160px;
  border-radius: 2px;
  border-radius: 5px;
  display: inline-block;
}

.navbar-toggler {
  font-size: 4rem;
  outline: none;
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

#hero {
  background-image: url("../imagenes/tools.jpeg");
  background-size: cover;
  padding: 100px 40px;
  min-height: 550px;
  max-height: 750px;
}

.content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
  font-family: "Varela Round", sans-serif;
}

#warehouse {
  font-size: 0.9rem;
  align-items: center;
}

#mission {
  margin: auto;
  padding: 40px;
}

h2 {
  font-size: 4.5rem;
  margin-bottom: 40px;
  margin-top: 60px;
  font-family: "Varela Round", sans-serif;
}

.mission_img {
  max-width: 60vw;
  margin: 40px auto;
  max-height: 60vh;
}

.mission_img-container {
  padding: 20px;
}

#misison_info {
  text-align: center;
  display: flex;
  align-items: center;
}

.email_logo {
  font-size: 1.4rem;
  padding: 5px;
}

.phone_logo {
  font-size: 1.4rem;
  padding: 5px;
}

.contact_channel {
  font-size: 1.4rem;
  padding: 3px 10px;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-left: 35px;
  text-align: center;
  background-image: url("../imagenes/pexels-fwstudio-164005.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.products img {
  height: 150px;
}

#card_button {
  background-color: rgb(238, 238, 238);
  width: 100px;
  height: 45px;
  text-align: center;
  padding-top: 12px;
  color: black;
  border-radius: 5px;
  top: 90px;
  left: 18px;
  text-decoration: none;
  font-size: 1.4rem;
}

.card {
  transition: all 0.25s;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 35px;
}

.card:hover {
  transform: translateY(-16px);
  background-color: rgba(253, 253, 253, 0.657);
}

footer {
  height: 90px;
  text-align: center;
  padding: 15px auto;
  color: white;
}

.footer_text {
  padding-top: 35px;
  font-size: 1.2rem;
  text-align: center;
}

footer a {
  padding-top: 5px;
  color: white;
}
